/*
Poppins(Font-Family) From googlefontsapi 
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bs-body-bg: var(--bs-gray-100);
}
body {
  font-family: "Poppins", sans-serif;
}
.searchBox {
  text-align: center;
  padding: 1em 2em 1em 2em;
}
.recent-box {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 1px;
}
.meaningInRecentTab{
  font-size: 13px;
}
.headingInRecentTab{
  font-size: 23px;
  
}
.headingInRecentTab :hover{
  color: blue;
}

